
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap');

*
{
    font-family: 'Montserrat', sans-serif;

}
h1,h2,h3,h4,h5,h6
{
    font-family: "montserrat";
}
h2
{
    
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
}
h3
{
  
  font-size: 1.2rem;
  font-weight: 600;
}
p
{
    color:#8f8f8f;
    font-family: "montserrat";
}

/* heading section */

.big-heading
{
    font:"montserrat-black";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
.container-fluid
{
    padding: 3% 15% 7%;
}


#title
{
    background-color: #ff4c68;
    color:#fff;
    

}

.navbar-brand
{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar
{
  padding:0 0 4.5rem;
}
.nav-item
{
    padding: 0 18px;
}
.nav-link
{
    font-size: 1.2rem;
    font-family: "montserrat-light";
}
.dbtn
{
    margin:3% 5% 3% 0;
}
.title-image
{
    width:300px;
    transform: rotate(25deg);
    position: absolute;
    right:21%;

}

#features
{
    padding:7% 15%;
    background-color:#fff;
    position: relative;
    z-index: 1;
    
}
.feature-box
{
    text-align: center;
    padding: 5%;
}
.fi
{
 font-size: 50px;
 color:#ef8172;
 margin-bottom: 1rem;
 transition: 0.3s ease;
}
.fi:hover
{
    color: #ff4c68;

}


#testimonials
{
   
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image
{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}
#press
{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 40px;
}
.press-logo
{
    width:15%;
    margin: 20px 20px 50px;
}
.carousel-item
{
    padding: 7% 15%;
}
#pricing
{
    padding: 100px;
    text-align: center;
}
.price-col
{
    padding:3% 5%;
}

@media (max-width:1030px) 
{
    #title
    {
        text-align: center;
    }
  .title-image
  {
      position: static;
      transform: rotate(0);
      
  }
}
.heading
{
    padding: 30px;
}
#cta
{
    background-color: #ff4c68;
    text-align: center;
    padding:7% 15%;
    
}
.cta-heading{
    font-family: "montserrat";
    color: #fff;
    padding-bottom: 20px;
    line-height: 1.5;
    font-size: 2.5rem;
}
#footer
{
    text-align: center;
    
}
.tw ,.fb, .insta, .env
{
padding: 8px;
}
